# Python
__pycache__/
*.py[cod]
*.so
build/
dist/
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# Environment variables
.env
.env.*

# Logs
*.log

# Cache / testing
.cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# OS
.DS_Store
Thumbs.db

# Local databases
*.db
*.sqlite3